
body{
    background-color: rgba(162, 140, 140, 1);
    color: #000;
    font-family: 'Play', sans-serif;
    font-size: 16px;
}
.wrapper{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 60px;
    z-index: 70;
    background-color:  rgba(162, 140, 140, 1);
}
.nav-logo img{
    width: 120px;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button .btn{
    
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
.banner-cared{
    position: relative;
}
.banner-cared img{
    max-width: 100%;
    height: auto;
    margin-bottom: -10px;
}
.banner-text{
    position: absolute;
    top: 0;
}
.banner-text p{
    font-size: 90px;
    text-align: centerc;
    padding: 260px 0 0 200px ;
}
 .banner-text h5{
    margin: 0 0  0 600px;
    font-size: 30px;
    width: 300px;
    height: 40px; 
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
    background-color: aliceblue;
}
.one .banner-cared-1{
    position: relative;
}
.one .banner-cared-1 img{
    max-width: 1503px;
    height: auto;
    margin-bottom: -10px;
}
.one .banner-tetx{
    position: absolute;
    top: 0;
}
.one .banner-tetx h4{
    font-size: 50px;
    padding: 0 10px 0 100px ;
    color: white;
}
.non1{
    margin: 0 0  0 1000px;
    font-size: 30px;
    width: 300px;
    height: 40px; 
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
    background-color: aliceblue;
}
.two img{
    margin-top: 20px;
    width: 600px ;
    height: 600px;
    padding: 0 0 0 750px;
    position: relative;
}
.two p{
    padding: 0 1000px 0 0;
    top: 0;
}
